<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | XDU-Planet</title>
    {{template "ref"}}
  </head>
  <style>
    header {
      padding: 2rem;
      margin-top: 6rem;
      margin-bottom: 3rem;
    }
    footer {
      margin-top: 6rem;
      padding: 2rem;
    }
    .container-fluid {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 0;
    }
    .about {
      padding: 2rem;
      max-width: 1000px;
      width: 90%;
      min-height: calc(100vh - 465px);
    }
  </style>
  <body>
    <div class="container-fluid" id="app">
      {{template "header"}}
      <main class="about">
        <h3>About</h3>
        <p>
          一个简单的RSS聚合站。<br />
          共同写作，共同阅读，共同分享。这就是这个站点存在的意义。
        </p>
        <hr />
        <p>目前没怎么做UI，只是先把主要功能完成了而已。</p>
      </main>
      {{template "footer"}}
    </div>
  </body>
</html>
